<!DOCTYPE html>
<html data-ng-app="appLabSlider" lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>سامانه تخصصی ترجمه دانشجویی آنلاین اونیتا</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="سامانه ترجمه مقاله پروژه پایان نامه دانشجویی اونیتا">
	<meta name="keywords" content="ترجمه, دانشجویی, مقاله, پایان نامه, چکیده, isi, پروژه, دانشجویی, کیفیت , هزینه کم, تحویل سریع">
	<meta name="author" content="PeHash">
	<meta name="Resource-type" content="Document" />

	<!-- Required Framework-->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

	<!-- Google font & font-awasome-->
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/themify-icons.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

	

	<!-- OWL.css-->
	<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.css">

	 <!--slick-carousel css-->
			 <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
			 <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">
	<!-- Swiper slider -->
	<link rel="stylesheet" type="text/css" href="assets/css/swiper.css">

  <!--angular-backtop.css-->
            <link rel="stylesheet" type="text/css" href="assets/css/angular-backtop.css">

  <!--angular-typewrite css-->
            <link rel="stylesheet" type="text/css" href="assets/css/typewriter.css">
	<!-- Style css-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!-- Reset css-->
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">

	<!-- Responsive css -->
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

	<!-- Color Style -->
	<link href="assets/css/color/gradient-color-1.css" rel="stylesheet" media="screen" id="color" />

</head>
<body data-ng-controller="MyController" data-spy="scroll" data-target=".navbar" data-offset="50">
<div id="main_loader">
	<div id="loader">
		<div class="outer_spin"><div class="inner_spin"></div></div>
	</div>
</div>
<!--=== Navigation menu starts ===-->
<nav class="navbar default">
	<div class="container">
		<div class="navbar-header float-right">
			<button type="button" class="navbar-toggle hidden-xs float-left" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="brand-logo">
				<!-- <h1> اونیتا </h1> -->
				<img src="assets/images/logo/logo-typo-w.png" alt="لوگو اونیتا">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav pull-right">
				<li class="active">
					<a href="#home" data-du-smooth-scroll data-du-scrollspy>خانه</a>
				</li>
				<li>
					<a href="#working" data-du-smooth-scroll data-du-scrollspy>روش کار</a>
				</li>
				<li>
					<a href="#core_features" data-du-smooth-scroll data-du-scrollspy>امکانات</a>
				</li>
				<li>
					<a href="#pricing" data-du-smooth-scroll data-du-scrollspy>تعرفه</a>
				</li>
				<li>
					<a href="#faq" data-du-smooth-scroll data-du-scrollspy>بخوانید</a>
				</li>
				<li>
					<a href="#contactus" data-du-smooth-scroll data-du-scrollspy>همکاری</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--=== Navigation menu ends ===-->

<!-- Home section starts -->
<header id="header" class="valign_wrapper bg_slider" data-backstretch data-backstretch-images="images" data-backstretch-duration="4000" data-backstretch-fade="1" data-banner>
	<!-- <div class="light_bg_layer"></div> -->
	<div class="container">
		<div class="row">
			<section id="home" >
				<div class="container">
					<div class="row">
						<h1 class="mb50 intro-title">
							با اونیتا
							<span class="element typewriter" typewriter type-speed="200" loop=true loop-delay="1000" custom-style=false cursor=true shell=false messages="sentences"></span>
							لذت ببرید
						</h1>
						<div class="col-md-7 float-right">
							<ul class="mb50">
								<li class="list_content">
									<span class="chk_icon"></span>
									<p>
										اونیتا متمرکز ترین مرکز انجام سفارشات ترجمه آنلاین برای <strong>دانشجو</strong> است
									</p>
								</li>
								<li class="list_content">
									<span class="chk_icon"></span>
									<p>
										<strong>پروژه های دانشجویی</strong> چیزی بالغ بر ۸۰ ٪ سفارشات روزانه ما را تشکیل می دهد 
									</p>
								</li>
								<li class="list_content">
									<span class="chk_icon"></span>
									<p>
										تیم ما متشکل از مجرب ترین مترجمین فارغ التحصیل از دانشگاه های <strong>علامه</strong>، <strong>تهران</strong> و <strong>بهشتی</strong> می باشد
									</p>
								</li>
								<li class="list_content">
									<span class="chk_icon"></span>
									<p>
										<strong>مقالات علمی</strong> در سطح ژورنال های معتبر جهانی، چکیده <strong>پایان نامه</strong> و <strong>کاتالوگ</strong> ابزار آلات صنعتی و ابزار دقیق از دیگر خدمات اونیتا است
									</p>
								</li>
							</ul>
							<div class="btn-groups">
								<button type="button" class="btn theme_btn mr15" ng-click="getData();">جذب مترجم فری لنسر</button>
								<button type="button" class="btn theme_btn">ثبت پروژه ترجمه</button>
							</div>
						</div>
						<div class="col-sm-5 float-right hidden-xs hidden-sm">
							<div class="home_ph">
								<img class="img-responsive home_slide1" src="assets/images/showcase/showcase-1.png" alt="ثبت سفارش اونیتا بر روی تلگرام" />
								<img class="img-responsive home_slide2" src="assets/images/screen2.png" alt="Home-Phone Image" />
								<img class="img-responsive home_slide3"  src="assets/images/screen3.png" alt="Home-Phone Image" />
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</header>
<!-- Home section ends -->

<!-- Core_features section starts -->
<!-- Core_features section ends -->

<!-- Extra_features section starts -->
<section id="extra_features">
	<div class="container">
		<div class="row rtl">
			<div class="title">
				<h2 class="text-center">هر آنچه<span class="theme_bolder"> نیاز دارید</span></h2>
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<p>
						تمرکز تیم اونیتا بر نیاز های قشر دانشجو به صورت خاص موجب شده تا تمامی خدمات با بودجه و زمان یک دانشجو متناسب باشد تا همچون همیشه اونیتا <strong>  بیشترین رضایت مشتریان </strong> گرامی را به ارمغان بیاورد.
					</p>
				</div>
			</div>
		</div>
		<div class="row rtl">
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="docs"></span>
				</div>
				<h4 class="system_font_color text-uppercase"> مقالات علمی ISI </h4>
				<p> ترجمه انگلیسی به فارسی و یا برعکس مقالات پژوهشی جز لاینفک مسیر آکادمیک است که با <strong> کمترین هزینه </strong> انجام و تحویل می گردد</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="desktop"></span>
				</div>
				<h4 class="system_font_color text-uppercase"> پروژه دانشجویی </h4>
				<p> پروژه های دانشجویی بالغ بر هشتاد درصد کل سفارشات ما را شامل می شود که گواه <strong> سرعت بالا </strong> تیم ماست </p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="psd"></span>
				</div>
				<h4 class="system_font_color text-uppercase"> چکیده پایان نامه </h4>
				<p> از مهم ترین عوامل در ترجمه پایان نامه داشتن <strong>دامنه لغت وسیع </strong>است که تخصص مترجمین ماست </p>
			</div>
		</div>
		<div class="extra_feature_ph">
			<img class="img-responsive animate_bottom_60" src="assets/images/extra_feature_ph.png" alt="Extra_feature">
		</div>
	</div>
</section>
<!-- Extra_features section ends -->

<!-- Amazing_features section starts -->
<section id="amazing_features">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">خیلی راحت <span class="theme_bolder">کار می کنه</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						ربات تلگرام اونیتا این امکان را برای دانشجویان عزیز فراهم کرده تا هر زمان و هر جا به آسانی و در سریع ترین زمان ممکن اقدام به ثبت سفارشات خود کنند 
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div id="amazing_img" data-slick  class="slider single-item" data-slides-to-show=1 data-slides-to-scroll=1 data-arrows=true data-fade=true data-autoplay=false data-draggable=true data-as-nav-for="#amazing_cont">
					<div>
						<img class="img-responsive" src="assets/images/showcase/showcase-1.png" alt="" />
					</div>
				</div>
			</div>
			<div class="amazing_features">
				<div class="col-sm-6 amazing_content">
					<div id="amazing_cont" data-slick  class="slider single-item" data-slides-to-show=1 data-slides-to-scroll=1 data-as-nav-for="#amazing_img" data-dots=false data-autoplay=false data-arrows=true data-focus-on-select=true  >
						<div class="amazing_details">
							<div class="amazing-circle">
								<h4>1</h4>
							</div>
							<h4 class="text-uppercase system_font_color">Fully Responsive design</h4>
							<p>
								This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
							</p>
							<div class="text-right">
								<a href="#">Read More...</a>
							</div>
						</div>
						<div class="amazing_details">
							<div class="amazing-circle">
								<h4>2</h4>
							</div>
							<h4 class="text-uppercase system_font_color">Awasome Features</h4>
							<p>
								Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
							</p>
							<div class="text-right">
								<a href="#">Read More...</a>
							</div>
						</div>
						<div class="amazing_details">
							<div class="amazing-circle">
								<h4>3</h4>
							</div>
							<h4 class="text-uppercase system_font_color">پروژه شما انجام شد.</h4>
							<p>
								This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
							</p>
							<div class="text-right">
								<a href="#">Read More...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Amazing_features section ends -->


<!-- Available_app section starts -->
<section id="available_app"  data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/banner/background-1-cloud.png);">
	<!-- <div class="bg_layer"></div> -->
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">هر جا <span class="white_bolder">تلگرام هست ما هستیم</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						هر زمان در هر کجا و با هر دستگاهی می توانید به راحتی سفارش بدید
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center apps">
				<span class="tablet animate_fade_in"></span>
				<h4>تبلت</h4>
				<!-- <p>
					This is Photoshop's version  of Lorem Ipsum. Proin gravida
				</p> -->
			</div>
			<div class="col-sm-4 text-center apps">
				<span class="pc animate_fade_in"></span>
				<h4>کامپیوتر</h4>
				<!-- <p>
					This is Photoshop's version  of Lorem Ipsum. Proin gravida
				</p> -->
			</div>
			<div class="col-sm-4 text-center apps">
				<span class="app_phone animate_fade_in"></span>
				<h4>موبایل</h4>
				<!-- <p>
					This is Photoshop's version  of Lorem Ipsum. Proin gravida
				</p> -->
			</div>
		</div>
	</div>
</section>
<!-- Available_app section ends -->


<!-- Working section starts -->
<!-- Working section ends -->

<!-- Screen-shot section starts -->
<!-- Screen-shot section ends -->

<!-- Counter section starts -->
<!-- Counter section ends -->

<!-- Team section starts -->
<!-- Team section ends -->

<!-- People section starts -->
<!-- People section ends -->

<!-- Pricing section starts -->
<section id="pricing" style="background-color: white;">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">هزینه <span class="theme_bolder">ترجمه</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						هزینه انجام سفارش ترجمه در اونیتا به طرز چشمگیری مقرون به صرفه است ، دلیل این موضوع تنها و تنها بهینه طی شدن تمامی مراحل کار با اونیتا است  
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							Standard
						</div>
						<h4> مناسب برای پروژه های دانشجویی </h4>
					</div>
					<div class="pricing-table_cnt text-center rtl">
						<ul>

							<li>En / Fa</li>
							<li>متن عمومی از ۳،۷۰۰ تومان</li>
							<li>متن تخصصی از ۸،۹۰۰ تومان</li>
							<li>Fa / En</li>
							<li>متن عمومی از ۷،۹۰۰ تومان </li>
							<li>متن تخصصی از ۱۴،۹۰۰ تومان </li>
							<li> تحویل یک روزه (کمتر از ۱۰ صفحه) </li>
							<li> *تمامی فایل های تحویلی تایپ شده است </li>
							<li> *قیمت های فوق بر پایه ۲۵۰ کلمه در صفحه است </li>
							<li>
								<a href="#" class="btn theme_btn"> ثبت سفارش </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="pricing-table">
					<div class="best_package">پیشنهاد ما</div>
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							Premium
						</div>
						<h4>مجرب ترین مترجمین تیم اونیتا</h4>
					</div>
					<div class="pricing-table_cnt text-center rtl">
						<ul>
							<li>En / Fa</li>
							<li>متن عمومی از ۷،۹۰۰ تومان</li>
							<li>متن تخصصی از ۱۴،۸۰۰ تومان</li>
							<li>Fa / En</li>
							<li>متن عمومی از ۱۳،۸۰۰ تومان </li>
							<li>متن تخصصی از ۲۷،۵۰۰ تومان </li>
							<li> تحویل یک روزه (کمتر از ۱۰ صفحه) </li>
							<li> *تمامی فایل های تحویلی تایپ شده است </li>
							<li> *قیمت های فوق بر پایه ۲۵۰ کلمه در صفحه است </li>
							<li> دابل چک </li>
							<li> ویراستاری شده‌ </li>
							<li> مناسب برای مقالات ژورنال </li>
							<li>
								<a href="#" class="btn theme_btn"> ثبت سفارش </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing section ends -->

<!-- Download section starts -->
<!-- Download section ends -->

<!-- FAQ section starts -->
<section id="faq" style="background-color: white;">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">سوال شما هم هست <span class="theme_bolder">؟</span></h2>
				<div class="col-xs-12 text-center">
					<p>
						در گروه اونیتا ساده سازی فرآیند های ترجمه است ، لذا یکی از بدیهی ترین کار هایی که می توانستیم برایتان انجام دهیم ارائه لیست سوالاتی است که در طول روز بار ها تکرار میشود
					</p>
				</div>
			</div>
		</div>
		<div class="row valign_wrapper">
			<div class="col-sm-5">
				<!-- <img class="img-responsive animate_left_40" src="assets/images/faq_screen.png" alt="Faq-dekstop"> -->
			</div>
			<div class="col-sm-7">
				
				<div data-uib-accordion  data-close-others="oneAtATime">
                            <div data-uib-accordion-group class="panel-default" data-is-open="status.feature1Open">
                                <div data-uib-accordion-heading>
                                   
                                   چگونه هزینه انجام پروژه گروه شما تا این حد کم (مقرون به صرفه) است ؟
                                    <i class="pull-right glyphicon" ></i>
                                </div>
                                <p>
                                	در اونیتا بعد از کیفیت کار ارسالی ، هزینه مقرون به صرفه برای ما جزء بالاترین اولویت ها می باشد ، تمام تلاش دوستان در قسمت سفارش گیری تا در نهایت که کنترل قیمت نهایی است بر متناسب بودن هزینه با تلاش مد نظر است .
                                </p>
                            </div>

                            <div data-uib-accordion-group class="panel-default" data-is-open="status.feature1close">
                                <div data-uib-accordion-heading>
                                  
                                    چگونه میتوانم سفارش ترجمه ثبت کنم ؟
                                    <i class="pull-right glyphicon" ></i>
                                </div>
                                <p>
                                	به راحتی . تمام فرآیند های اونیتا بر روی تلگرام صورت می گیرد ، شما می توانید ب راحتی به ربات تلگرام اونیتا سر زده و خود ربات به صورت قدم ب قدم شما ثبت سفارش ترجمه را برای شما پیش میبرد . 
                                </p>
                            </div>
                               <div data-uib-accordion-group class="panel-default" data-is-open="status.feature2close">
                                <div data-uib-accordion-heading>
                                   
                                    چرا فقط از طریق تلگرام اقدام به سفارش گیری میکنید ؟
                                    <i class="pull-right glyphicon" ></i>
                                </div>
                                <p>
                                	همونطور که پیشتر ذکر شد از مهمترین عوامل تاثیرگذار در کارهای ما پایین نگه داشتن هزینه تمام شده ترجمه است تا دوستان دانشجو فشاری من باب هزینه نداشته باشند ، از همین جهت ما از سیستم تلگرام استفاده میکنیم تا به صورت مترمکز و یکپارچه بتوانیم پروژه ها را توزیع و مدیریت کنیم . 
                                </p>
                            </div>
                               <div data-uib-accordion-group class="panel-default" data-is-open="status.feature3close">
                                <div data-uib-accordion-heading>
                                   
                                    علاقه مندم به عنوان مترجم با شما همکاری کنم 
                                    <i class="pull-right glyphicon" ></i>
                                </div>
                                <p>
                                	در ابتدا از اینکه تمایل به همکاری با گروه اونیتا را دارید مایه مباهات ماست ، امیدواریم بتوانیم شما را در کنار خود و همکارانمان ببینیم و ارتباطی بلند مدت و لذت بخش را با هم شاهد باشیم.

شما میتوانید در انتهای صفحه آدرس تلگرام جذب مترجم ما را مشاهده و بر روی آن کلیک (با موبایل ضربه بزنید) . همکاران من ظرف کوتاه ترین زمان ممکن با شما ارتباط برقرار خواهند کرد .
                                </p>
                            </div>
                        </div>
			</div>
		</div>
	</div>
</section>
<!-- FAQ section ends -->

<!-- Subscribe section starts -->
<!-- Subscribe section ends -->

<!-- Clients section starts -->
<!-- Clients section ends -->

<!-- Contact section starts -->
<!-- <section id="contactus" style="background-color: white;">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">Get <span class="theme_bolder">In Touch</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit Lorem Ipsum. Proin gravida nibh vel velit </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-6">
							<input type="text" class="form-control mob_control" id="email" placeholder="Your Name">
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="e_mail" placeholder="Email Id">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="pwd" placeholder="Website">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<textarea class="form-control" rows="4" cols="50" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center mb30">
							<button class="btn theme_btn">Send Message</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section> -->
<!-- Contact section ends -->

<!-- Footer section starts -->
<footer>
	<div class="container contact_container">
		<div class="row">
			<div class="footer_data">
				<div class="col-sm-4">
					<ul class="client_data">
						<li>
							<span class="contact"></span>
							<div class="client_detail">
								<h4>تماس با ما</h4>
								<span>۰۹۳۵ ۵۵ ۲۰۲۰۸</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul class="client_data">
						<li>
							<span class="email"></span>

							<div class="client_detail">
								<h4>جذب مترجم</h4>
								<a href="https://t.me/tele_job"><span>@tele_job</span></a>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul class="client_data">
						<li>
							<span class="location"></span>

							<div class="client_detail">
								<h4> ثبت سفارش ترجمه</h4>
								<a href="https://t.me/onitabot"><span>@OnitaBot</span></a>
							</div>
						</li>
					</ul>
				</div> 
			</div>
		</div>
	</div>
	<section id="main_footer"   data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/bg_footer.jpg);">
		<div class="bg_layer"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 rtl">
					<a href="index.html" class="brand-logo">
						<img src="assets/images/logo/logo-typo-w.png" alt="لوگو اونیتا">
					</a>
					<p class="mb30">
						اونیتا بستر ترجمه آنلاین کاملا متمرکز بر نیاز دانشجو است که امکان دسترسی به مجرب ترین مترجمین را فراهم آورده است .
					</p>
					<div class="social_icons hidden">
						<a href="#">
							<span class="fb_footer"></span>
						</a>
						<a href="#">
							<span class="twt_footer"></span>
						</a>
						<a href="#">
							<span class="pinit_footer"></span>
						</a>
						<a href="#">
							<span class="linkedin_footer"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_line text-center rtl">
			<p>تمامی حقوق محتوای متنی و بصری این سایت متعلق به اونیتا &copy; می باشد . </p>

		</div>
	</section>
</footer>
<!-- Footer section ends -->

<!-- Move to up starts-->
<div data-back-top ><i class="fa fa-arrow-up"></i></div>

<!-- Move to up ends-->

<!-- Required js -->
<script src="assets/js/jquery.2.2.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Angular Js start -->

<!--AngularJs-->
<script src="assets/angularJS/angular.min.js"></script>

<!-- Module -->
<script src="assets/modules/SliderModule.js" ></script>    

<!-- Controller -->
<script src="assets/controllers/controller.js" ></script>   

<!-- ng-backstretch.min.js -->
<script src="assets/angularJS/ng-backstretch.js" ></script>

  <!-- scrollreveal animation -->
    <script type="text/javascript" src="assets/js/scrollreveal.js"></script> 

    <!-- fox-angular-scrollReveal.js -->
    <script src="assets/angularJS/fox-angular-scrollReveal.js"></script>

     <!-- Modernizr js -->
    <script src="assets/js/modernizr-custom.js" type="text/javascript"></script> 

 <!--angular-parallax.js-->
            <script src="assets/angularJS/angular-parallax.js" ></script>

<!--Slick js-->
			<script src="assets/angularJS/slick-carousel/slick.js"></script>
			<script src="assets/angularJS/slick.js"></script>

<!--AngularJs swiper-->
<script src="assets/angularJS/swiper.js"></script>
<script src="assets/angularJS/angular-swiper.js"></script>

<!--OWL Carousel JS -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- ui-bootstrap-tpls-2.0.2.js -->
    <script type="text/javascript" src="assets/angularJS/ui-bootstrap-tpls-2.0.2.js"></script>

 <!-- angular-scroll.js -->
            <script src="assets/angularJS/angular-scroll.js" ></script>  

 <!-- bottom to top Scrolling -->
            <script src="assets/angularJS/angular-backtop.js" ></script>  
<!-- Typing js  -->
<script src="assets/angularJS/typewriter.js"></script>

</body>
</html>